.popular-container {
  /* background-color: rgb(207, 58, 58); */
  background-image: url('https://i.pinimg.com/564x/97/84/85/9784852925680edcb5a4334efd95efe3.jpg');
  background-size: cover;
  background-position: center;
}
.popular-list {
  margin: 0;
  padding: 0;
  list-style: none;
  /* padding-left: 32px;
  padding-right: 19px; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  justify-content: center;
}
@media (min-width: 768px) {
  .popular-list {
    margin-top: 32px;
    /* padding-left: 165px;
    padding-right: 135px; */
  }
}
